.navbar-brand {
  font-family: poppins !important;
  font-size: 30px !important;
  color: #faa2c1 !important;
  padding-right: 20px !important;
}

.nav-item {
  font-family: poppins !important;
  font-size: 14px !important;
  padding: 0 10px 0 10px !important;
}

.nav-link.active {
  background-color: #e2a634 !important;
  padding: 10px 30px 10px 30px !important;
  color: #fff !important;
  border-radius: 5px;
}

.btn.btn-outline-success {
  background-color: #e2a634 !important;
  padding: 7px 30px 7px 30px !important;
  color: #fff;
  border-radius: 5px;
  border-style: none !important;
}

.form-control {
  padding: 10px 150px 10px 20px !important;
  font-family: poppins !important;
}

.navbar navbar-expand-lg navbar-dark {
  margin-top: 20px !important;
  background-color: #1d1f1c !important;
}

.btn {
  background-color: #e2a634 !important;
  padding: 8px 28px 8px 28px !important;
  color: #fff;
  border-radius: 5px;
  border-style: none !important;
  font-family: poppins !important;
  font-size: 16px !important;
}

.btn.btn-outline-secondary {
  background-color: #919CB0 !important;
  padding: 8px 28px 8px 28px !important;
  color: #fff;
  border-radius: 5px;
  border-style: none !important;
  font-family: poppins !important;
  font-size: 16px !important;
}

.display-5.fw-bold {
  font-family: poppins !important;
}

img.img-relative {
  position: relative;
  margin-left: 20px;
}





@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}


.parallax {
  /* The image used */
  /* background-image: url("./images/josh-olalde-X1P1_EDNnok-unsplash.jpg"); */

  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  /* bottom, image */
  url("./images/josh-olalde-X1P1_EDNnok-unsplash.jpg");

  /* Set a specific height */
  min-height:150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}